body{
    background-color: #2e2e2e;
}
.tabuleiro{
    position: absolute;
}
.box{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    top: 50%;
    left: 50%;
    position: relative;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}
